/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map {
    margin-top: 13%;
    height: 500px;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

#logo {
    margin-top: 5px;
    width: 200%;
}

#social-media-area {
    margin-top: 7%;
}

h5 {
    margin-top: 0px;
}

#author-footer-align {
    text-align: right;
}

#twitter-card {
    height: 475px;
}

.s3 {
    width: 25%;
}

.card-panel {
    width: 100%;
}

.pac-container {
    z-index: 1005;
}

